header {
    background-color: rgb(5, 9, 68);
    color: white;
    padding: 1px;
}

body {
    background-color: slategray;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 15px;
}
nav li {
    padding-right: 7px;
}
nav ul a {
    background-color: slategray;
    color: white;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    text-decoration: none;
    width: 100%;
}

a:visited {
    color: white;
    padding: 3px 3px;
    text-decoration: none;
}
a:hover {
    background-color: slategray;
    color: black;
}

.text-main-gry-blk {
    padding: 10px;
    background-color: lightgray;
    color: black;
}

/* *** Standard color combinations *** */
.blu-wht {
    background-color: rgb(5, 9, 68);
    color: white;
}

.gry-blk {
    background-color: lightgray;
    color: black;
}
/* *********************************** */

/* *** Buttons *** */
.button-std {
    background-color: rgb(5, 9, 68);
    color: white;
    text-decoration: none;
    /*transition-duration: 0.4s;*/
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}
/*.button-std:hover {
    background-color: white;
    color: rgb(5, 9, 68);
}*/
/* *************** */

.entry-form {
    background-color: rgb(5, 9, 68);
    color: white;
}

.font_title {
    font-family: papyrus;
}

.main_nav {
    text-align: center;
    width: 100px;
    padding: 4px;
    text-decoration: none;
    background-color: yellowgreen;
}

.master_list {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    flex-basis: 10%;
    background-color: lightgray;
}
.container-1b {
    display: flex;
    justify-content: space-around;
    flex-basis: 10%;
    background-color: rgb(5, 9, 68);
}
.container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 10%;
    background-color: rgb(177, 177, 189);
}
.container-2 div{
    flex-wrap: nowrap;
}
.charge {
    padding-top: 5px;
    padding-right: 2px;
    margin-right: 3px;
}

.info1 {
    display: flex;
    flex-wrap: nowrap;
    margin: 2px;
    padding: 2px;
}

.info2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

/* *** Font Colors *** */
.txt-wht {color: white;}
.txt-blk {color: black;}
.txt-blu {color: rgb(5, 9, 68);}

/* *** Text Alignment *** */
.txt-center {text-align: center;}
.txt-left {text-align: left;}
.txt-right {text-align: right;}

@media screen and (max-width: 430px){
    h1 {
        font-size: 25px;
    }
}